<section>
  <div id="panel-body">
    <div id="media">
      <img src="http://i.minus.com/jJqyQYRjK8u0z.jpg" border="0"/>
      <div id="media-body">
        <h1>brandboat</h1>
        <p>目前擔任實驗室人柱力，積極學習 HBase Hadoop </p>
      </div>
    </div>
  </div>
  <div id="panel-footer">
    <a href="https://twitter.com/brandboat">
      <i class="fa fa-twitter-square fa-2x"></i>
    </a>&nbsp;&nbsp;
    <a href="https://www.facebook.com/brandboat.Tseng">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>&nbsp;&nbsp;
    <a href="https://github.com/brandboat">
      <i class="fa fa-github-square fa-2x"></i>
    </a>&nbsp;&nbsp;
    <a href="https://tw.linkedin.com/in/brandboat">
      <i class="fa fa-linkedin-square fa-2x"></i>
    </a>
  </div>
</section>
<style type="text/css">
  #media img {
    float: left !important;
    max-width: 40% !important;
    margin-right: 10px;
  }
  #panel-footer {
    padding: 10px 15px;
    text-align: center;
  }
  #panel-footer a {
    text-decoration: none;
    white-space: normal !important;
  }
</style>
